{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{% static 'stats/dashboard.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 id="dashboard-name">{{ name }}</h3>
            <div>slug: <span id="dashboard-slug">{{ slug }}</span></div>
            <div>user: <span id="user">{{ user }}</span></div>
            <hr>
            <div class="form-group">
                <input id="data-input" class="form-control" type="number" /><br>
                <button id="submit-btn" class="btn btn-primary">Send</button>
            </div>

            <div>
                <canvas id="chartCanvas"></canvas>
                <div id="data-box">
                    {% if data %}
                        {% for el in data %}
                            <p>{{ el.owner }}: {{ el.value }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}